<div class="container w-100 vh-100 text-center">
    <h2>Overview</h2>
    <div class="container d-flex flex-column w-100 h-75 justify-content-evenly align-items-center">
        <button type="button" class="btn btn-primary w-75 p-3">Manage Worlds</button>
        <button type="button" class="btn btn-primary w-75 p-3">Manage Characters</button>
        <button type="button" class="btn btn-primary w-75 p-3">Manage Objects</button>
        <button type="button" class="btn btn-primary w-75 p-3">Manage Abilities</button>
    </div>

</div>